*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
!.gitkeep
.DS_Store
/.idea
/.vscode
/output
/node_modules
*.local.yml
dumped_hertz_remote_config.json
/upload

/onlineJudge/judger
/onlineJudge/problemData/*/input.in
/onlineJudge/problemData/*/output.out
/main
/tmp
/config/CosKey.go
/docker-conf/canal/conf/example/h2.mv.db
/docker-conf/canal/conf/example/meta.dat
/local.env