jiyeon.cn {
  @api {
    expression path('/api/*')
  }
  
  # tls /home/ubuntu/server/jiyeon.club_bundle.pem /home/ubuntu/server/jiyeon.club.key
  encode zstd gzip # 启用压缩
  
  handle @api {
	reverse_proxy 127.0.0.1:8000
  }

  handle {
    root * /home/jiyeon/Another-Nikki/Another-Nikki-Web/dist
    file_server
    try_files {path}  /index.html
}
  
  handle_errors {
    	redir https://jiyeon.cn/error/{err.status_code}
  }
  log {
      output file /home/jiyeon/caddy_server/caddy.log
  }
}